<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">
                    <div class="mb-4">
                        <img src="logo.png" class="mb-4" alt>
                        <h1 class="mb-1 font-weight-bold">Sign In</h1>
                        <span>
                            "Don't have an account? "
                            <a href="#" class="ml-1">Sign Up</a>
                        </span>
                    </div>
                    <!-- Form -->
                    
                </div>
            </div>
        </div>
    </div>
</div>