/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 /* html,
 body {
   height: 100%;
 }
 
 body {
   display: flex;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
   background-color: #f5f5f5;
 }
 
 .form-signin {
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
 }
 
 .form-signin .checkbox {
   font-weight: 400;
 }
 
 .form-signin .form-floating:focus-within {
   z-index: 2;
 }
 
 .form-signin input[type="email"] {
   margin-bottom: -1px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 
 .form-signin input[type="password"] {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }
  */

@import "bootstrap";
@import 'bootstrap/dist/css/bootstrap';

$grey: #ccc;
$muted-grey: #999;
$heart: #ff4f8f;
$white: #fff;

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :after, :before {
  box-sizing: border-box;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  position: relative;
}

.form-group {
    margin-bottom: 1rem;
}

.flex-column {
    flex-direction: column!important;
}

.min-vh-100 {
  min-height: 100vh!important;
}

.justify-content-center {
  justify-content: center!important;
}

.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}

.col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

@media (min-width: 992px){
  .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
}

@media (min-width: 992px){
  .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
}

@media (min-width: 768px){
  .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.pt-6, .py-6 {
  padding-top: 2.5rem!important;
}

@media (min-width: 800px){
  .col-md-8 {
    flex: 0 0 33.3333%;
    max-width: 50%;
  }
}

.col-12, .col-12#bootstrap-overrides {
  flex: 0 0 75%;
  max-width: 100%;
}

.col-13, .col-13#bootstrap-overrides {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.card:hover{
  transform: scale(1.00);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.card {
  border: 0;
  box-shadow: 0 1px 3px rgba(3, 0, 71, .09);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eae7f5;
  border-radius: .5rem;
}

img, svg {
  vertical-align: middle;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.w-100 {
  width: 100%!important;
}

.rounded-right, .rounded-top {
  border-top-right-radius: .5rem!important;
}

.font-weight-medium {
  font-weight: 500!important;
}

.font-weight-bold {
  font-weight: 700!important;
}

.boldish {
  font-weight: 550;
  display: inline-block;
  margin-bottom: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #eae7f5;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.text-center {
  text-align: center!important;
}

body {
  margin: 0;
  font-family: Inter,"sans-serif";
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #5c5776;
  text-align: left;
  background-color: #f5f4f8;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
  background-color: #fff;
}

.text-truncate-line-2 {
  overflow: hidden;
  max-height: 3rem;
}

.tab-content>.active {
  display: block;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

.h4, h4 {
  font-size: 1.25rem;
}

.h5, h5 {
  font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: Inter,"sans-serif";
  font-weight: 500;
  line-height: 1.4;
  color: #18113c;
}

.text-inherit {
  color: #18113c;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}

.list-inline-item {
  display: inline-block;
}

.card-footer:last-child {
  border-radius: 0 0 calc(.5rem - 1px) calc(.5rem - 1px);
}

.card-footer {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-top: 1px solid #eae7f5;
}

.align-items-center {
  align-items: center!important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-1 {
  margin-left: .25rem!important;
}

.ml-2, .mx-2 {
  margin-left: .5rem!important;
}

.ml-3, .mx-3 {
  margin-left: 1rem!important;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.fe-search:before {
  content: "\e9c1";
}

.fe-bookmark:before {
  content: "\e924";
}

.fe {
  font-family: 'Feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: .2rem;
  font-size: 0;
}

.navbar-default {
  background-color: #fff;
  box-shadow: 0 1px 3px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.d-lg-none {
  display: none!important;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}

.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.ml-lg-3, .mx-lg-3 {
  margin-left: 2rem!important;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.navbar {
  padding: .625rem 1rem;
}

.rounded-circle {
  border-radius: 50%!important;
}

.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

img {
  border-style: none;
}

.avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.p-3 {
  padding: 1rem!important;
}

.p-6 {
  padding: 1.5!important;
}

.p-7 {
  padding: 3rem!important;
}

.mb-5, .my-5 {
  margin-bottom: 2rem!important;
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(3,0,71,.09)!important;
}

.rounded {
  border-radius: .25rem!important;
}

.more-rounded {
  border-radius: 1rem!important;
}

.bg-white {
  background-color: #fff!important;
}

.bg-primary#bootstrap-overrides {
  background-color: #363336!important;
}

.display-1, .display-2, .display-3, .display-4 {
  line-height: 1.4;
}

.shadow {
  box-shadow: 0 3px 6px rgba(3,0,71,.1)!important;
}

.form-control#bootstrap-overrides {
  display: block;
  width: 100%;
  height: calc(1.6em + 1.75rem + 2px);
  padding: .75rem 2rem .75rem 2.75rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #18113c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbd8e9;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-1 {
  display: block;
  width: 100%;
  height: calc(1.6em + 1.75rem + 2px);
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  color: #18113c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbd8e9;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-lg {
  height: calc(1.8em + 1.5rem + 2px);
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.8;
  border-radius: .5rem;
}

.form-control-sm {
  height: calc(1.2em + 1rem + 2px);
  padding: .5rem .875rem;
  font-size: .875rem;
  line-height: 1.2;
  border-radius: .2rem;
}

// .form-control.is-valid, .was-validated .form-control:valid {
//   border-color: #19cb98;
//   padding-right: calc(1.6em + 1.5rem);
//   background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%2319cb98' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E);
//   background-repeat: no-repeat;
//   background-position: right calc(.4em + .375rem) center;
//   background-size: calc(.8em + .75rem) calc(.8em + .75rem);
// }

// .form-control.is-invalid, .was-validated .form-control:invalid {
//   border-color: #e53f3c;
//   padding-right: calc(1.6em + 1.5rem);
//   background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e53f3c'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23e53f3c' stroke='none'/%3E%3C/svg%3E);
//   background-repeat: no-repeat;
//   background-position: right calc(.4em + .375rem) center;
//   background-size: calc(.8em + .75rem) calc(.8em + .75rem);
// }

.gallery {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(6,5vw);
  grid-gap: .5rem;
}

.gallery .gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

div {
  display: block;
}


.container, .container-md, .container-sm {
    max-width: 960px;
}

.container-show {
  max-width: 720px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-show {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: block;
  margin-top: 0em;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a#bootstrap-overrides {
    font-size: 1rem;
    color: #18113c;
    font-weight: 500;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px);
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.card-img, .card-img-bottom, .card-img-top {
  flex-shrink: 0;
  width: 100%;
}

.navbar .navbar-toggler .icon-bar {
  width: 20px;
  height: 2px;
  background-color: #7B1E7A;
  display: block;
  transition: all .2s;
  margin-top: .25rem;
}

.navbar .navbar-toggler .top-bar {
  transform: rotate(
5deg
);
  transform-origin: 16% 190%;
  background-color: #7B1E7A;
}

.navbar .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #7B1E7A;
}

.navbar .navbar-toggler {
  border: 1px solid #7B1E7A;
  margin-left: .5rem;
  padding: .5rem;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.border {
  border: 1px solid #eae7f5!important;
}

.btn-primary, input[type=submit i]{
  color: #fff;
  background-color: #7B1E7A;
  border-color: #7B1E7A;
}

input[type=submit i]#btn-filter {
  color: rgb(71, 71, 71);
  background-color: #e9e9e9;
  border: 1px solid #d4d4d4;
  width: 100%;
  border-radius: 5%;
  margin-top: 1.5rem;
  box-shadow: 0 1px 3px rgba(3, 0, 71, .1);
}

input[type=submit i]#btn-github {
  width: 65%;
  position: relative;
}

input[type=submit i]#btn-filter:hover {
  background-color: #d4d4d4;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 3px rgba(3, 0, 71, .5);
}

.btn-wish {
  width: 100%;
}

.ml {
  margin-left: -1;
}

.btn, .btn-wish, input[type=submit i] {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .72rem 1rem;
  font-size: .875rem;
  line-height: 1.6;
  border-radius: .30rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-icon {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: .92969rem;
  font-weight: 400;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.align-items-center {
  align-items: center!important;
}

.col-md-12, .col-md-12#bootstrap-overrides {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-13 {
  flex: 0 0 50%;
  max-width: 100%;
}

element.style {
  background: url(../assets/images/background/profile-bg.jpg) no-repeat;
  background-size: cover;
}

.pt-16, .py-16 {
  padding-top: 7.5rem!important;
}

.pb-12 {
  padding-bottom: 3.5rem!important;
}

.pb-4, .py-4 {
  padding-bottom: 1.5rem!important;
}

.pb-5 {
  padding-bottom: .5rem!important;
}

@media (min-width: 992px) {
  .pb-lg-16, .py-lg-16 {
      padding-bottom: 7.5rem!important;
  }
}

@media (min-width: 992px) {
  .pt-lg-8, .py-lg-8 {
      padding-top: 3.5rem!important;
  }
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.justify-content-between {
  justify-content: space-between!important;
}

.align-items-end {
  align-items: flex-end!important;
}

.navbar .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}
.collapse:not(.show) {
  display: none;
}

.navbar .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #7B1E7A;
}

.d-flex {
  display: flex!important;
}

.mt-3, .my-3 {
  margin-top: 1rem!important;
} 

.mt-0, .my-0 {
  margin-top: 0!important;
}

.mt-lg-0, .my-lg-0 {
  margin-top: 0!important;
}

.mt-n5, .my-n5 {
  margin-top: -2rem!important;
}

.mr-2, .mx-2 {
  margin-right: .5rem!important;
}


.mr-auto, .mx-auto {
  margin-right: auto!important;
}

dl, ol, ul {
  margin-top: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} 

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.avatar-xl {
  width: 5rem;
  height: 5rem;
}

.rounded-circle {
  border-radius: 50%!important;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-success#bootstrap-overrides, .btn-wish {
  color: #fff;
  background-color: #ff4f8f;
  border-color: #ff4f8f;
  box-shadow: 0 1px 3px rgba(3, 0, 71, .1);
}

.btn-wish:hover {
  color: black;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 3px rgba(3, 0, 71, .2);
}


.btn-white#bootstrap-overrides {
  color: #18113c;
  background-color: #fff;
  border-color: #fff;
}

.btn-social {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border: 1px solid transparent;
  transition: border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  border-radius: .25rem;
  background-color: #eae7f5;
  color: #a8a3b9;
  font-size: .875rem;
  text-align: center;
  line-height: 2.25rem;
}

.btn-social-outline {
  border-color: #eae7f5;
  background-color: transparent;
}

.fa, .fas, .far, .fal, .fad, .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

.dropdown-header, .dropdown-text {
  color: #a8a3b9;
  padding: .25rem 1.2rem;
}

.dropdown-header {
  margin-bottom: .2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .6875rem;
  font-weight: 500;
}

.pl-0, .px-0 {
  padding-left: 0!important;
}

.pl-3, .px-3 {
  padding-left: 1rem!important;
}

.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.4rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}


.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.2rem;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-input:checked~.custom-control-label:before {
  color: #fff;
  border-color: #7B1E7A;
  background-color: #7B1E7A;
}

.custom-checkbox .custom-control-label:before {
  border-radius: .25rem;
}

.custom-control-label:after, .custom-control-label:before {
  position: absolute;
  top: .2rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
}

// input:checked~.custom-control-label:after {
//   background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E);
// }

.custom-control-label:after {
  background: 50%/50% 50% no-repeat;
}

.text-md-left {
    text-align: left!important;
}

.display-2 {
  font-size: 3.5rem;
}

.display-1, .display-2 {
  font-weight: 600;
  line-height: 1.3;
}

.text-white {
  color: #fff!important;
}

*, :after, :before {
  box-sizing: border-box;
}

.alert-success {
  color: #0d6a4f;
  background-color: #d1f5ea;
  border-color: #bff0e2;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #77211f;
  background-color: #fad9d8;
  border-color: #f8c9c8;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.like-button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
}

.like-button {
  .like-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $heart;
      transform: scale(0);
      transition: all .4s;
      z-index: 0;
  }
}

.like-button:hover {
  text-decoration: none;
}

.like-button {
  i {
      &.not-liked {
        display: block;
        color: $white;
        position: relative;
        z-index: 1;
      }
      &.is-liked {
        display: none;
        color: $white;
        position: relative;
        z-index: 1;
      }
  }
}

.font-size-xs {
  font-size: .75rem!important;
}

.font-size-s {
  font-size: .9rem!important;
}

//Defining the animation
@-webkit-keyframes bouncy {
  from, to { -webkit-transform: scale(1, 1); }
  25% { -webkit-transform: scale(0.9, 1.1); }
  50% { -webkit-transform: scale(1.1, 0.9); }
  75% { -webkit-transform: scale(0.95, 1.05); }
}
@keyframes bouncy {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

//Animation Settings
.bouncy {
  -webkit-animation: bouncy 0.6s;
  animation: bouncy 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.like-button {
  &.is-active {
      .like-overlay {
          transform: scale(1);
      }
      i {
          &.not-liked {
              display: none;
          }
          &.is-liked {
              display: block;
          }
      }
  }
}

.btn:hover {
  background-color: #666066;
}

.noHover{
  pointer-events: auto;
}

.p-4 {
  padding: 1rem!important;
}

a:hover { text-decoration: none; }

.d-inline-flex {
  display: inline-flex!important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.position-absolute {
  position: absolute!important;
}

.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}

.bootstrap-select {
  width: 220px\0;
  vertical-align: middle;
}

.bootstrap-select>select {
  position: absolute!important;
  bottom: 0;
  left: 50%;
  display: block!important;
  width: .5px!important;
  height: 100%!important;
  padding: 0!important;
  opacity: 0!important;
  border: none;
  z-index: 0!important;
}

select {
  word-wrap: normal;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

bootstrap-select .bs-placeholder, .bootstrap-select .bs-placeholder:active, .bootstrap-select .bs-placeholder:focus, .bootstrap-select .bs-placeholder:hover, .selectpicker {
  color: #a8a3b9!important;
}

.bootstrap-select>.dropdown-toggle{
  background-color: #fff!important;
  border-color: #dbd8e9!important;
  font-weight: 400;
}

.bootstrap-select>.dropdown-toggle, .selectpicker {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bootstrap-select > .dropdown-toggle, .selectpicker {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
  right: auto;
  bottom: auto;
}

.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu {
  font-size: .875rem;
  line-height: 1.375rem;
  color: #5c5776;
  border: none;
  box-shadow: 0 10px 30px 0;
  border-radius: .5rem;
  z-index: 1040;
}

@media (min-width: 992px) {
  .mt-lg-n22, .my-lg-n22 {
      margin-top: -12rem!important;
  }
}

.mt-n8, .my-n8 {
  margin-top: -3.5rem!important;
}

.bg-cover {
  background: no-repeat 50%/cover;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .img-left-rounded {
      border-radius: .5rem .5rem 0 0;
  }
}

.img-left-rounded {
  border-radius: .5rem 0 0 .5rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #694b85;
  border-bottom: 3px solid #694b85;
  background-color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  color: #694b85;
  border-bottom: 3px solid #694b85;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
  background-color: #fff;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.border-bottom-1 {
  border-bottom: 1px solid #eae7f5;
}

#store {
  color:#8e67b3;
}

#store:hover {
  color:rgb(59, 151, 187);
}

select#wishlist_id {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: .30rem;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  background-color: #fff !important;
  border-color: #dbd8e9 !important;
  font-weight: 400;
  padding: .95rem;
  font-size: .875rem;
  line-height: 1.6;
  width: 100%;
  margin-right: .25rem;
}

button#like {
  position: relative;
  height: 50px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  overflow: hidden;
  border: none;
  border-radius: 50%;
}

.avatar-group .avatar .avatar-initials, .avatar-group img {
  border: 3px solid #fff;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.avatar-lg {
  width: 3.5rem;
  height: 3.5rem;
}


.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: .3s ease;
  background-color: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fa-heart {
  position: absolute;
  z-index: 2;
  color: #ff4f8f;
  left: 87%;
}

.heart {
  color: #ff4f8f;
  font-size: 110%;
  cursor: pointer;
  border-radius: 10rem;
  background-color: transparent;
  border: transparent;
}

.fa-1x {
  margin-top: .25rem;
  margin-left: .25rem;
}

.popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

.center {
  text-align: center;
  margin-bottom: -1rem;
  margin-top: 2.5rem;
}